#placelist {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#placelist li {
  width: 15rem;
  display: block;
}

#placelist .place-item {
  padding: 5px;
  margin: 5px;
  border: 1px solid #808080;
}

.place-item > header {
  font-weight: bold;
  border-bottom: 1px solid;
}

.place-item .details {
  min-height: 1em;
}
