#placelist {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#placelist li {
  width: 15rem;
  margin: 5px;
}

#placelist .place-item {
  padding: 5px;
  margin: 5px;
  border: 1px solid #808080;
}

.place-item > header {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.place-item .details {
  min-height: 1em;
  text-align: center;
}

#addPlaceSection {
  display: block;
  box-shadow: 0 2px 1px;
  padding: 5px;
  margin-bottom: 3px;
  background-image: linear-gradient(#ffd700, #daa520);
}

#addPlaceForm {
  display: flex;
  justify-content: center;
}

#addPlaceForm label,
#addPlaceForm input,
#addPlaceForm button {
  font-size: 1.2rem;
}
