/* lunch-go-where style */

/* a[target="_blank"]::after {
  background: url("./images/external-link-symbol.png") right bottom / 15px 15px no-repeat;
  display: inline-block;
  width: 20px;
  height: 15px;
  content: "";
} */
